SUPABASE_URL=https://oiamktffakkqfhvprjns.supabase.co
SUPABASE_PROJECT_ID=oiamktffakkqfhvprjns
VITE_SUPABASE_URL=https://oiamktffakkqfhvprjns.supabase.co
VITE_SUPABASE_PROJECT_ID=oiamktffakkqfhvprjns
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bXqeCK-lv2LMhYLxYYCc9A_Ho73TF1I
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
